/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    border: solid 1px #000000;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 5%;
    min-width: 90%;
    min-height: 90%;
  }  
}
@media only screen and (min-width: 769px) {
  .container {
    border: solid 1px #000000;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 25%;
    min-width: 50%;
    min-height: 50%;
  }
}
.data {
  display: inline-block;
  text-align: left;
  padding: 20px 80px 20px 80px;
}

.data label {
  font-weight: bold;
}

.data input {
  float: right;
}

.data .row {
  clear: both;
  padding-top: 10px;
}

.data .form button {
  margin-top: 2em;
  display: inline;
  background-color: #3B64CE;
  border: 1px solid #3B64CE;
  color: #FFF;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 2px #000000;
  line-height: 2;
}

.data .form button:hover {
  background-color: #504869;
  border: 1px solid #504869;
}

.data .form button:active {
  background-color: #504869;
  border: 1px solid #504869;
  box-shadow: 1.5px 1.5px 2px #808080;
}

h1, label {
  font: normal 1em Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
}

table tbody tr {
  line-height: 2em;
}

table tbody tr td {
  text-align: center;
}

table tbody tr.result {
  background-color: #fbf46a;
}

table tbody tr.result td:first-child {
  background: url(right-arrow.png)  center no-repeat;
  font-weight: bold;
}
